body {
  font-family: "Oswald", sans-serif;
  }

.container{

}

/*.main {
  /margin-top: 15%; }*/

.icon {
  border: solid;
  border-width: 10px;
  /*border-color: black;*/
  margin-right: 0px; }

#dropdownbutton {
  border: solid;
  border-color: black;
  border-radius: 0;
  color: white;
  background-color: black;
}

.dropdown-menu {
  left: auto;
}

.dropdown:hover > .dropdown-menu{
  display: block;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}

a.dropdown_item{

}
